body{
background-color: rgba(252, 121, 107, 0.623);
color:rgb(109, 16, 16);
font-family: "Josefin Sans", sans-serif;
}
header{
    font-size: 65px;
    border: dashed 5px rgb(125, 26, 26);
}
h1{
    font-size: 30px;
}
p{
    font-size: 20px
    
}