 body{
background-color: rgba(192, 246, 182, 0.851);
color:rgb(3, 12, 0);
font-family: "Josefin Sans", sans-serif;
margin: 0px;
}
header{
    font-size: 65px;
    border-bottom: dashed 5px rgba(2, 9, 0, 0.955);
    text-align: center;
    /*margin: 45px;*/
    padding: 15px;
    color: rgba(1, 17, 11, 0.995)
}
h1{
    font-size: 30px;
}
p{
    font-size: 20px
}

section{
background-color: rgba(2, 78, 18, 0.88);
padding-bottom: 80px;
display: flex;
justify-content: center;

}

.chamada-texto { 
    margin-right: 10%;

}
